<main class="container">
  <table class="users-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
        <th>Celular</th>
        <th>Estado</th>
        <th>Data de aprovação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.cpf }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td>{{ item.validatedAt ? 'Validado' : 'Não validado' }}</td>
        <td>{{ item.validatedAt | date: 'dd/MM/YYYY' }}</td>
      </tr>
    </tbody>
  </table>
  <app-logout></app-logout>
</main>
