<main>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
        <th>Celular</th>
        <th>Estado</th>
        <th>Data de aprovação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>name</td>
        <td>email</td>
        <td>cpf</td>
        <td>phoneNumber</td>
        <td>validate_at</td>
        <td>validate_at</td>
        <td>
          <button>Validar</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
